*,
*::before,
*::after {
    --branco: #ffffff;
    --main-claro: #6A48F1;
    --main-escuro: #483d8b;
    --cinza-texto: #c0c0c0;
    --cinza-escuro: rgb(83, 83, 83);
    box-sizing: border-box;
    scrollbar-width: thin;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--main-claro);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: var(--branco);
    box-sizing: border-box;
    text-align: center;
}

/* CABEÇALHO */

.cabecalho__container {
    z-index: 3;
    background-image: url(../img/cabecalho/faixadupla.png);
    background-size: 100vw;
    height: 60px;
    width: 100%;
    padding: 0 25px;
}
.cabecalho__container:nth-of-type(n+2) {
    transform: scaleY(-1);
    background-repeat: repeat-y;
}

.logo__item {
    background-image: url(../img/cabecalho/Logo.png);
    background-repeat: no-repeat;
    /* border: solid 1px var(--cinza-texto); */
    box-shadow: 0 0 10px #33C8FE;
    padding: 17px 30px;
    cursor: pointer;
    background-size: contain;
    border-radius: 10px;
}

.pesquisar__input {
    width: 260px;
    height: 32px;
    color: #000000;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding: 3px 8px;
    border-radius: 10px 0 0 10px;
}

.pesquisar__label {
    background-image: url(../img/cabecalho/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 0 10px 10px 0;
    border-left: none;
    padding: 8px 18px 5px;
    cursor: pointer;
}

.cabecalho__audio {
    background-image: url(../img/cabecalho/mic.png);
    padding: 20px;
    display: none;
}

.cabecalho__videos {
    background-image: url(../img/cabecalho/video_call.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.cabecalho__apps {
    background-image: url(../img/cabecalho/apps.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__notificacoes {
    background-image: url(../img/cabecalho/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__avatar {
    background-image: url(../img/cabecalho/Avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

/* MENU LATERAL */

.menu__container {
    background-color: var(--main-claro);
    height: 60px;
    font-size: 14px;
}

.menu__itens {
    padding: 10px 2vw;
    margin: 0 10px;
    border-radius: 12px;

}

.menu__itens:hover {
    background-color: var(--main-escuro);
    transition: .5s;
}

.icone__inicio::before {
    content: url(../img/menu/home.png);
}

.icone__explorar::before {
    content: url(../img/menu/explore.png);
}

.icone__shorts::before {
    content: url(../img/menu/shorts.png);
}

.icone__inscricoes::before {
    content: url(../img/menu/subscriptions.png);
}

.icone__biblioteca::before {
    content: url(../img/menu/video_library.png);
}

.icone__historico::before {
    content: url(../img/menu/history.png);
}

.icone__relogio::before {
    content: url(../img/menu/history_toggle_off.png);
}

.icone__like::before {
    content: url(../img/menu/thumb_up_alt.png);
}

.icone__alura::before {
    content: url(../img/menu/Avatar_Alura.png);
}

.icone__gaveta::before {
    content: url(../img/menu/Avatar_Gaveta.png);
}

.icone__ballerini::before {
    content: url(../img/menu/Avatar_Rafa.png);
}

.icone__iamarino::before {
    content: url(../img/menu/Avatar_Atila.png);
}

.icone__souto::before {
    content: url(../img/menu/Avatar_Souto.png);
}

.icone__nerd::before {
    content: url(../img/menu/Avatar_Jovem_Nerd.png);
}

.icone__deschamps::before {
    content: url(../img/menu/Avatar_Deschamps.png);
}

.icone__mostrar::before {
    content: url(../img/menu/keyboard_arrow_down.png);
}

.icone__videos::before {
    content: url(../img/menu/videos.png);
}

.icone__filmes::before {
    content: url(../img/menu/filmes.png);
}

.icone__jogos::before {
    content: url(../img/menu/jogos.png);
}

/* SECAO SUPERIOR */

.superior__secao__container {
    height: 63px;
    color: var(--branco);
    font-size: 16px;
    background-color: black;
    padding: 0 20px;
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    overflow-x: hidden;
}

.superior__secao__container:hover {
    overflow-x: scroll;
}

.superior__item {
    color: var(--cinza-escuro);
    font-size: 16px;
    background-color: var(--branco);
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
}

.superior__item:hover {
    color: var(--branco);
    background-color: var(--main-escuro);
    transition: .5s;
}

/* SEÇÃO VÍDEOS */

.videos__container {
    background-color: black;
    padding: 163px 20px 100px 20px;
    overflow-x: hidden;
    min-height: 100vh;
}

.videos__item {
    height: 250px;
    width: 273px;
    max-width: 390px;
    transition: .2s;
}

.descricao-video {
    padding: 10px;
    text-align: start;
}

.descricao-video h3 {
    font-weight: 700;
    color: var(--branco);
}

.descricao-video h4 {
    font-weight: 600;
    color: var(--cinza-texto);
}

.descricao-video h4:hover {
    cursor: pointer;
}

.descricao-video p {
    font-size: .9em;
    color: var(--cinza-texto);
}

/* RODAPÉ */

.rodape__container {
    width: 100%;
    height: 875px;
    padding-top: 20px;
    color: var(--branco);
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--cinza-escuro);
}

.rodape__titulo {
    color: var(--branco);
    font-weight: bold;
    padding: 10px 0 20px 0;
}
@media(max-width: 500px) {
    .menu__container {
        height: 55px;
    }
    .menu__lista a {
        width: 12vw;
        font-size: 0;
    }
}
@media(min-width: 834px) {

    body {
        height: 100vh;
    }

    /* ESTILOS DO MENU LATERAL */

    .menu__container {
        font-size: 16px;
    }

    /* .menu__lista {
        padding-top: 15px;
    } */

    .menu__lista li {
        width: 100%;
    }

    .menu__itens {
        padding: 10px;
    }

    /* ESTILOS DA SECAO SUPERIOR */

    .superior__secao__container {
        border-top: var(--branco) 1px solid;
        border-bottom: var(--branco) 1px solid;
        width: auto;
        left: 100px;
    }

    /*ESTILOS SEÇÃO VÍDEOS */

        
    .videos__container {
        padding-left: 9em;
        padding-right: 25px;
    }

    .videos__item:hover {
        transform: scale(1.3);
        background-color: var(--main-escuro);
        box-shadow: 0 5px 15px #000000;
        z-index: 2;
        transition: .5s;
    }

    /* ESTILOS RODAPÉ */

    .rodape__container {
        height: 420px;
        padding-left: 100px;
    }

}

@media(min-width: 1200px) {

    /* SEÇÃO SUPERIOR */

    .superior__secao__container {
        left: 200px;
    }

    .logo__item {
        margin-left: 35px;
    }
    /* ESTILOS DO MENU LATERAL */

    .menu__lista {
        border-bottom: 1.5px solid var(--branco);
    }

    /* ESTILOS VIDEOS */

    .videos__container {
        padding-right: 30px;
        padding-left: 248px;
    }

    .videos__item:hover {
        transform: scale(1.3);
        background-color: var(--main-escuro);
        box-shadow: 0 5px 15px #000000;
        z-index: 2;
        transition: .5s;
    }

    /* ESTILOS RODAPÉ */

    .rodape__container {
        padding-left: 200px;
        height: 225px;
    }

}